

body {
    background-color: aquamarine;
  }
  @media(max-width:480px){
    body{
      background-color: lightsalmon;
    }
  }
  @media(min-width:481px) and (max-width:1200px){
    body{
      background-color: powderblue;
    }
  }
  @media(min-width:1201px) and (max-width:1600px){
    body{
      background-color: azure;
    }
  }
  @media(min-width:1601px){
    body{
      background-color: beige;
    }
  }

  .container {
    padding: 10px;
   
    display: flex;
    gap: 10px;
    border: 1px solid black;
  }
  .alert{
    border: 1px solid black;
    color:red;
  }